body 
{
    margin: 0;
    padding: 0;
    /* color schema */
    /* background: rgba(255,0,0,1); */
    /* background-color: aqua; */
    /* background-color: #000000; */
    /* background-color: #ffffff; */
    background-color:#a65862;
}